@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;400;500;600;700&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  font-family: "Inter Tight", system-ui, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #1f2937;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  @apply bg-gray-50;
}

button {
  @apply transition-colors;
}

input:focus,
textarea:focus,
select:focus {
  @apply ring-2 ring-blue-500 ring-opacity-50;
}

@media print {
  header {
    display: none !important;
  }

  body {
    background-color: white !important;
  }
}
